@import "~bootstrap/dist/css/bootstrap.css";
nav{
	font-family:'lato', sans-serif;
	background-color:#424242;
}
.logo{
	color:#fff;
	font-family:'lato', sans-serif;
	font-size: 1.5em;
}
ul.nav a{
	
}
ul.nav a:hover{
	
}